
<h1>Albums:</h1>

<% if @albums.any? %>
  <% @albums.each do |album| %>
    <div class="album border">
      <h2><%= album.title %></h2>
      <p><%= album.artist %></p>
      <p><%= album.genre %></p>
      <p><%= album.desc %></p>
      <p><%= album.year %></p>
      <p><%= album.price %></p>
      <%= cl_image_tag album.photo.key, height: 700, width: 500, crop: :fill %>
      <%= button_to "delete", album_path(album), method: :delete, data: { confirm: "Are you sure you want to remove #{album.title}?"}, class: 'text-white bg-dark' %>
      <%= button_to "Edit", edit_album_path(album), method: :get, class: 'text-white bg-dark' %>
    </div>
  <% end %>
<% else %>
  <h5>No albums to show</h5>
<% end %>

<%= link_to "New Album", new_album_path, class: "btn btn-flat bg-dark text-white m-4" %>
